<br><br>
<div class="text-center">
    <div class="col-xs-12">
        <div class="form-inline d-flex justify-content-center ">
            <label for="nom" class="col-form-label">Nom :
                <input type="text" class="form-control" placeholder="Rechercher un médecin" [(ngModel)]="name" (input)="Search()">
            </label>
        </div>
    </div>
</div>
<br><br>

<div class="col-xs-12">

    <ul class="list-group">
        <app-medecins-view *ngFor="let item of medecins | paginate: {itemsPerPage : 10, currentPage: p }" [id]="item.id"
            [name]="item.nom" [firstname]="item.prenom" [address]="item.adresse" [tel]="item.tel"
            [spec]="item.specialitecomplementaire" [dep]="item.departement">
        </app-medecins-view>
    </ul>
</div>
<pagination-controls class="text-right" (pageChange)="p = $event"></pagination-controls>
<br><br>